body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c5c5c5;
    margin-top: 65px;
}

.container p, ul{
    font-size: 20px;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

header {
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('https://wallpapers.com/images/hd/garage-1920-x-1080-picture-d30vbx4rk059dl8v.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    align-items: center;
    position:static;
}

header h1 {
    font-size: 110px;
    margin: 0;
    font-weight: 10000;
    border-radius: 20px;
    border: #ffffff 10px solid;
    border-color: #ffffff;
    position: absolute;
   
}

header h2 {
    font-size: 45px;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.7);
    color: #000000;
    position: absolute;
}

.nav {
    background: #000000;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: 15px 0;
    z-index: 1000;
}

.nav ul {
    display: flex;
    gap: 10rem;
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);

}

.nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255);
    font-size: 24px;
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.nav ul li a:hover {
    background-color: rgb(255, 255, 255);

    color: rgb(0, 0, 0);
    border: 4px solid rgb(255, 255, 255);
    transform: translateY(-5px);

}

.nadpis {
    background-color: #494949;
    color: #ffffff;
    text-align: center;
    padding: 1px;
    margin-top: 0px;
    font-size: 25px;
}

.znacky {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.znacky img {
    width: 350px;
    margin: 60px;
}

#nabidka {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-bottom: 100px;
    
}

#nabidka.nadpis {
    padding: 20px;
}



#nabidka th {
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #000000;
    text-align: left;
}

#nabidka td {
    padding: 10px;
    border: 2px solid #000000;
}


#nabidka tbody tr:nth-child(even) {
    background-color: #ededed;
}

#nabidka tbody tr:nth-child(odd) {
    background-color: #4f4f4f;
    color: white;
}







.autolux-team .specializations h3 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #fff;
    text-align: center;
}




.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}


.card {
    background: #5b5b5b;         
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;       
    transition: 0.3s;
    
}

.card:hover {
    background: #2e2e2e;             
    transform: translateY(-4px);
    border-color: #555;
}


.card h4 {
    margin: 0 0 8px 0;
    font-size: 22px;
    color: #fff;
}

.card .role {
    color: #bbb;
    font-size: 15px;
    margin-bottom: 5px;
}

.card .meta {
    color: #aaa;
    font-size: 14px;
}


.team-cta {
    text-align: center;
    margin-top: 50px;
}

.kontaktovat {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

form{  
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px 0;
    font-weight: bold;
}  
form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.formular button:hover {
    background-color: #333333;
}

.formular {
    background-color: #494949;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto 50px auto;
    text-align: left;
    align-items: left;
}

.test{
    text-align: left;
   margin-bottom: 10px;
   margin-top: 10px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}




@media screen and (max-width: 1200px) {
    header h1 {
        font-size: 70px;
    }

    header h2 {
        font-size: 32px;
    }

    .nav ul {
        gap: 30px;
    }
}


@media screen and (max-width: 992px) {
    header h1 {
        font-size: 65px;
    }

    header h2 {
        font-size: 28px;
    }


    .nav ul {
        gap: 20px;
    }

    .nav ul li a {
        font-size: 20px;
    }
}



@media screen and (max-width: 768px) {
    header h1 {
        font-size: 60px;
    }

    header h2 {
        font-size: 25px;
    }
    .nav {
        position: absolute;
    }

    
    .nav ul {
        flex-direction: column;
        gap: 2rem;
        
    }

    .nav ul li a {
        font-size: 18px;
    }

    .znacky img {
        width: 120px;
        margin: 40px;
    }
}



@media screen and (max-width: 576px) {
    header h1 {
        font-size: 30px;
    }

    header h2 {
        font-size: 20px;
    }

    .nav {
        position: absolute;
    }

    .nav ul {
        flex-direction: column;
        gap: 2rem;
    }
    .nav ul li a {
        font-size: 16px;
    }
}

