body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c5c5c5;
}

.container p, ul{
    font-size: 20px;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}
.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

header {
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('https://wallpapers.com/images/hd/garage-1920-x-1080-picture-d30vbx4rk059dl8v.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    align-items: center;
    position:static;
}

header h1 {
    font-size: 110px;
    margin: 0;
    font-weight: 10000;
    border-radius: 20px;
    border: #ffffff 10px solid;
    border-color: #ffffff;
    position: absolute;
   
}

header h2 {
    font-size: 45px;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.7);
    color: #000000;
    position: absolute;
}

.nav {
    background: #000000;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
    gap: 10rem;
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);

}

.nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255);
    font-size: 24px;
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.nav ul li a:hover {
    background-color: rgb(255, 255, 255);

    color: rgb(0, 0, 0);
    border: 4px solid rgb(255, 255, 255);
    transform: translateY(-5px);

}

.nadpis {
    background-color: #494949;
    color: #ffffff;
    text-align: center;
    padding: 1px;
    margin-top: 0px;
    font-size: 25px;
}

.znacky {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.znacky img {
    width: 350px;
    margin: 60px;
}

#nabidka {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}



#nabidka th {
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #000000;
    text-align: left;
}

#nabidka td {
    padding: 10px;
    border: 1px solid #ccc;
}


#nabidka tbody tr:nth-child(even) {
    background-color: #e19a007b;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}


@media screen and (max-width: 1200px) {
    header h1 {
        font-size: 70px;
    }

    header h2 {
        font-size: 32px;
    }

    .nav ul {
        gap: 30px;
    }
}


@media screen and (max-width: 992px) {
    header h1 {
        font-size: 65px;
    }

    header h2 {
        font-size: 28px;
    }


    .nav ul {
        gap: 20px;
    }

    .nav ul li a {
        font-size: 20px;
    }
}



@media screen and (max-width: 768px) {
    header h1 {
        font-size: 60px;
    }

    header h2 {
        font-size: 25px;
    }

    
    .nav ul {
        flex-direction: column;
        gap: 2rem;
        
    }

    .nav ul li a {
        font-size: 18px;
    }

    .znacky img {
        width: 120px;
        margin: 40px;
    }
}



@media screen and (max-width: 576px) {
    header h1 {
        font-size: 30px;
    }

    header h2 {
        font-size: 20px;
    }

    .nav ul {
        flex-direction: column;
        gap: 2rem;
    }
    .nav ul li a {
        font-size: 16px;
    }
}

