header {
    text-align: center;
    background-color: black;
    color: white;

}

.nav {
    background: #ffffff;
    padding: 10px 20px;
}

.nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(185, 142, 0);

}

.nav ul li a {
    color: rgb(255, 196, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: 4px solid rgb(255, 196, 0);
    font-size: 24px;
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.nav ul li a:hover {
    background-color: rgb(255, 196, 0);

    color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 196, 0);
    transform: translateY(-5px);

}

#nabidka table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

#nabidka th {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

#nabidka td {
    padding: 10px;
    border: 1px solid #ccc;
}


#nabidka tbody tr:nth-child(even) {
    background-color: #fafafa;
}

#nabidka tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

footer {
    background-color: black;
    color: white;
}

.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}